# https://docs.docker.com/engine/reference/builder/#dockerignore-file
*
!learn-java/library/lib-open-nlp/src
!learn-java/library/lib-open-nlp/build.gradle
!gradle
!gradlew
!gradle.properties
!settings.gradle
