<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table class="table table-striped">
    <tbody>
    <tr th:each="material: ${materials}">
        <td><img th:src="@{${'/icon/' + material.icon}}"/></td>
        <td th:text="${material.time}"></td>

        <td>
            <img th:if="${material.getRequiredIcon(1)}" th:src="@{${'/icon/' + material.getRequiredIcon(1)}}"/>
        </td>
        <td th:text="${material.getRequiredAmount(1)}"></td>

        <td>
            <img th:if="${material.getRequiredIcon(2)}" th:src="@{${'/icon/' + material.getRequiredIcon(2)}}"/>
        </td>
        <td th:text="${material.getRequiredAmount(2)}"></td>

        <td>
            <img th:if="${material.getRequiredIcon(3)}" th:src="@{${'/icon/' + material.getRequiredIcon(3)}}"/>
        </td>
        <td th:text="${material.getRequiredAmount(3)}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>