<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Icon</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resouece, i : ${resources}">
        <th scope="row" th:text="${i.index + 1}"></th>
        <td><img th:src="@{${'/icon/' + resouece.icon}}"/></td>
        <td th:text="${resouece.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>