<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white(%d{HH:mm:ss.SSS}) [%blue(%-20.20thread)] %highlight(%-5level) | %yellow(%-40.40logger{36}) - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- A bean definition scanner that detects bean candidates on the classpath.   -->
<!--    <logger name="org.springframework.context.annotation.ClassPathBeanDefinitionScanner" level="trace" />-->

    <!-- Reads a given fully-populated set of ConfigurationClass instances, registering bean definitions  -->
    <logger name="org.springframework.context.annotation.ConfigurationClassBeanDefinitionReader" level="trace" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>