<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!--        <filter class="ua.in.sz.logging.logs.MdcFilter">
            <feature>HBM-00001</feature>
            <onMatch>NEUTRAL</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-20.20thread] %-5level | %-9.9X{feature} | %-40.40logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.quartz" level="warn" />
<!--    <logger name="ua.in.sz.logging.tasks.DebugDecorator" level="warn" />-->
<!--    <logger name="ua.in.sz.logging.tasks.SecurityDecorator" level="warn" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>