<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-20.20thread] %-5level | %-15.15X{feature} | %-40.40logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

<!--    <turboFilter class="ua.in.sz.spring.thread.ShowSqlFeatureFilter">-->
<!--        <Value>run query 2</Value>-->
<!--    </turboFilter>-->

<!--    <turboFilter class="ua.in.sz.spring.thread.FeatureFilter">-->
<!--        <MDCKey>feature</MDCKey>-->
<!--        <Value>run query 2</Value>-->
<!--        <onMismatch>DENY</onMismatch>-->
<!--    </turboFilter>-->

<!--    <logger name="org.springframework.transaction" level="DEBUG" />-->
<!--    <logger name="org.springframework.orm.hibernate5" level="DEBUG" />-->
    <logger name="org.hibernate.SQL" level="DEBUG" />

    <logger name="org.springframework" level="warn" />
    <logger name="com.zaxxer" level="warn" />
    <logger name="org.hibernate" level="warn" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>