<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white(%d{HH:mm:ss.SSS}) [%blue(%-20.20thread)] %highlight(%-5level) | %yellow(%-40.40logger{36}) - %msg %n</pattern>
        </encoder>
    </appender>

<!--    <logger name="liquibase" level="warn" />-->
<!--    <logger name="liquibase.util" level="info" />-->

    <logger name="org.hibernate" level="warn" />
    <logger name="com.zaxxer.hikari" level="warn" />
    <logger name="org.springframework.orm.jpa" level="warn" />
    <logger name="org.springframework.data" level="warn" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>